body {
  animation: headerLane 15s linear infinite alternate;
}

@keyframes headerLane {
  0% {
    background-color: #f7fbff;
  }
  33% {
    background-color: hsl(211, 34%, 75%);
  }
  66% {
    background-color: hsl(187, 92%, 91%);
  }
  100% {
    background-color: #f2ffea;
  }
}
